body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.center {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}

.panel{
  width: 80%;
  margin: 0px auto;
}

#top-slogan{
  position: relative;
  top: 20px;
}

#title h1{
  text-align: center;
  font-size: 68px;
  font-weight: 300;
}

#content-container{
  width: 80%;
  margin: 60px auto;
  font-size: 18px;
}

#language-image{
  width: 95px;
  position: absolute;
  left: 0;  
  top: 0;
}

#language-image img{
  width: 95px;
}

.large{
  font-size: 48px;
}

#logo-image:hover{
  transform:rotate(5deg);
  -moz-transform:rotate(5deg); /* Firefox 4 */
  -webkit-transform:rotate(5deg); /* Safari and Chrome */
  -o-transform:rotate(5deg); /* Opera */
}

#main-logo-container {
  width: 85%;
  margin: 8px auto;
  position: relative;
  top: 25px;
}

#logo-image {
  max-width: 200px;
  margin: 2.7%;
  width: 14%;
  max-width: 255px;
  margin-top: 0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}