<!DOCTYPE html>
<html ng-app="jvj">
  <head> 
    <title> Java vs JavaScript: A beginners guide to the purpose of different programming languages  </title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <base href="index.html">
  </head> 
  <body> 
    <div id="top-slogan">
      <!-- <h2 class="center">A beginners guide to the purpose of different programming languages </h2> -->
    </div>
    <ng-view></ng-view>


    <!-- CAN MOVE THESE TO PARTIALS/ ONCE WE GET A SERVER RUNNING. NG WONT MAKE CROSS DOMAIN REQUESTS FOR TEMPLATEURL -->
    
    <!-- 4 X X Grid Template --> 
    <script type="text/ng-template" id="gridTemplate.html">
      <div id="main-logo-container">
        <span ng-repeat="(key, value) in imageArray">
          <a ng-href="#/language/{{key}}"><img data-ng-src="{{value}}" id="logo-image"/></a>
        </span>
      </div>
    </script>

    <!-- 4 X X Grid Template and Content for Language Specific Pages --> 
    <script type="text/ng-template" id="languageSpecificGrid.html">
      <div id="page-content">
        <div id="title">
          <h1>{{specificLanguage}}</h1>
          <div id="language-image">
            <img ng-src="{{languageSrc}}"/>
          </div>
        </div>
        <div id="content-container">
          <div class="description">
            {{description}}
          </div>

          <div ng-repeat="resource in resources">
            <a ng-href="{{resource.url}}">{{resource.siteName}}</a>: {{resource.description}}
          </div>
        </div>

      </div>
      
      <div id="main-logo-container">
        <span ng-repeat="(key, value) in imageArray">
          <a ng-href="#/language/{{lang}}/{{key}}"><img data-ng-src="{{value}}" id="logo-image"/></a>
        </span>
      </div>
    </script>


    <!-- TEMPLATE FOR THE FRAMEWORK/LIBRARY ITSELF -->
    <script type="text/ng-template" id="libSpecific.html">
      <div id="main-framework-container">
          <div id="title">
            <h1>{{library}}<h1>
            <div id="language-image">
              <img ng-src="{{languageSrc}}"/>
            </div>
          </div>
          <div id="content-container">
            <div class="description">
              {{description}}
            </div>
            <div ng-repeat="resource in resources">
              <a ng-href="{{resource.url}}">{{resource.siteName}}</a>: {{resource.description}}
            </div>
          </div>
      </div>
    </script>


    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.7/angular-route.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>